# byte-compiled / optimized / dll files
__pycache__
*.py[cod]
*$py.class


# c extensions
*.so


# distribution
dist


# envvars
.env
.envrc


# tooling
.mypy_cache
.nox
.ruff_cache

# virtualenv
.venv


# workspace
.idea
.ignore
.vscode
