# byte-compiled / optimized / dll files
__pycache__
*.py[cod]
*$py.class


# c extensions
*.so


# envvars
.env
.envrc


# raws
raws
!raws/.gitkeep
!raws/results.png
!raws/results.svg


# tooling
.mypy_cache
.nox
.ruff_cache


# virtualenv
.venv


# workspace
.idea
.ignore
.vscode
